<!--This is a template for a dish, displayed on the dishes.ejs page-->
<section class="dish">
  <h3><%= allDishes[0].name %></h3>
  <div class="dishImage">
    <img src="static/images/<%= allDishes[0].img %>" alt="" />
  </div>
  <p><%= allDishes[0].tags %></p>
  <p>Quality: <%= allDishes[0].quality %></p>
</section>
