<!--This is a template for a dish, displayed on the dishes.ejs page-->
<section class="dish">
  <h3><%= dishName %></h3>
  <div class="dishImage">
    <img src="static/images/<%= dishImage %>" alt="" />
  </div>
  <p><%= dishTags %></p>
  <p>Quality: <%= dishQuality %></p>
</section>
