<!--this is the head I'll use on every page-->
<meta charset="UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Dish Exchange</title>
<link rel="stylesheet" href="/css/style.css" />
<!--Google fonts Lato, weight 400 (regular) & 700 (bold)-->
<link rel="preload" href="https://fonts.googleapis.com" as="font" type="font/woff2" crossorigin />
<link rel="preload" href="https://fonts.gstatic.com" as="font" type="font/woff2" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap"
  rel="stylesheet"
/>
