/*****CUSTOM COLORS*****/
:root {
  --bg-color: #f3f3f3;
  --light-bg-color: #ffffff;

  --text-color: #4f4f4f;
  --light-text-color: #a5a5a5;

  --primary-color: #41c1a5;
  --secondary-color: #fcab61;

  --quality-filled: #fcbe61;
  --quality-not-filled: #c5c5c5;

  --empty-image: #dcdcdc;

  --box-shadow-blur: #00000071;
  --selected-color: #06896c;

  --delete-color: #ed6f6f;
}

*,
*:before,
*:after,
html {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--bg-color);
  padding: 20px 40px;
}

/*****TEXT STYLING*****/
h1 {
  font-weight: 400;
  color: var(--text-color);
  padding-bottom: 20px;
}

h2,
h3 {
  font-weight: 700;
  color: var(--text-color);
  padding: 0 0 10px;
}

p,
li {
  color: var(--text-color);
  font-weight: 400;
  padding-bottom: 5px;
}

li {
  margin-left: 20px;
}

a {
  text-decoration: none;
}

/*article in dish.ejs*/
article {
  background-color: var(--light-bg-color);
  display: grid;
  border-radius: 0.3em;
  margin-bottom: 20px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-areas: "one two";
  box-shadow: 0 2px 10px var(--box-shadow-blur);
}

/*****FORM STYLING***/

input[type="text"] {
  padding: 0 0.8em;
  font-size: 1em;
  width: 100%;
  height: 2.5em;
  border: 2px solid var(--light-text-color);
  border-radius: 5px;
}

fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

legend {
  padding-bottom: 10px;
  font-weight: 700;
  color: var(--text-color);
  padding-top: 20px;
}

input[type="checkbox"],
input[type="radio"] {
  transform: scale(2);
}

/*source: https://css-tricks.com/snippets/css/custom-file-input-styling-webkitblink/*/
input[type="file"]::-webkit-file-upload-button {
  padding: 0.9em;
  color: var(--light-bg-color);
  background-color: var(--secondary-color);
  border-radius: 3px;
  border: none;
  font-weight: 700;
}

/*****SPECIFIC TEXT STYLING***/

/***styling added for edit-dish.ejs***/
/*primary button*/
.primaryButton {
  width: 60%;
  padding: 0.9em;
  border-radius: 3px;
  background-color: var(--primary-color);
  border: none;
  color: var(--light-bg-color);
}

a.primaryButton,
a.deleteButton {
  display: block;
  text-align: center;
  margin: 1em 0;
}

a.primaryButton {
  margin-right: 1em;
}

/*secondary button*/
.secondaryButton {
  color: var(--light-bg-color);
  border: none;
  border-radius: 3px;
  padding: 0.9em;
  background: var(--secondary-color);
  margin: 0.5em 0;
  margin-top: 0.5em;
  width: 10em;
}

/*delete button*/
.deleteButton {
  width: 60%;
  padding: 0.9em;
  border-radius: 3px;
  background-color: var(--delete-color);
  border: none;
  color: var(--light-bg-color);
}

/*div of editButton and deleteButton*/
.editButtons {
  display: flex;
}

/***styling for dishes.ejs***/
/*a > article > div > text*/
.dishText {
  grid-area: two;
  padding: 1.5em 1em;
}

.dishText > p {
  /*source: https://www.positioniseverything.net/css-character-limit*/
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2; /* number of lines to show */
  line-clamp: 2;
  -webkit-box-orient: vertical;
}

/*a > article > div > image*/
.dishImage {
  background-color: var(--text-color);
  grid-area: one;
  border-radius: 0.3em 0 0 0.3em;
  max-width: 200px;
}

.dishImage > img {
  max-width: 100%;
  border-radius: 0.3em 0 0 0.3em;
  height: 100%;
  object-fit: cover;
}

/*text that shows quality is usually smaller*/
.qualityText {
  font-size: 0.9em;
  padding-top: 10px;
}

/*floating action button background*/
.floatingActionButton {
  position: fixed;
  right: 5%;
  bottom: 15%;
  color: var(--light-bg-color);
  background-color: var(--primary-color);
  padding: 0.1em 0.4em;
  border-radius: 5em;
  font-size: 3em;
  box-shadow: 0 0 4px var(--box-shadow-blur);
  font-weight: 700;
}

/***styling added for add-dishes.ejs***/
.backButton {
  padding-right: 1em;
}

/*to center primary button*/
form > div {
  margin: 40px 0 40px 0;
  justify-content: center;
  display: flex;
}

/*p element in the form*/
.heading {
  background-color: var(--light-bg-color);
  padding: 0.8em 0 0.8em 1em;
  border: solid 3px var(--text-color);
  border-radius: 5px;
  font-size: 1em;
  margin: 1em 0 1em 0;
}

/*subtext in the form*/
.subtext {
  color: var(--light-text-color);
  font-size: 0.9em;
  padding-bottom: 0.5em;
}

.hidden {
  display: none;
}

#video {
  align-self: center;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

#canvas {
  align-self: center;
  border-radius: 5px;
  width: 100%;
  height: auto;
}

.h3dishDetails {
  padding-top: 20px;
}

#autodetectFoodButton {
  color: var(--light-bg-color);
  border: none;
  border-radius: 3px;
  padding: 0.9em;
  background: var(--secondary-color);
  margin: 0.5em 0;
  margin-top: 0.5em;
  width: 10em;
  font-weight: 700;
}

.input {
  margin: 0.8em 0 0.8em;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "one two";
  align-items: center;
}

.input > input {
  grid-area: two;
}

.input > label {
  grid-area: one;
}

/*error message*/
.error {
  color: red;
  padding: 0;
}

/***styling for dish-details.ejs***/
.img {
  width: 100%;
  max-height: 240px;
  margin-bottom: 20px;
  border-radius: 5px;
  object-fit: cover;
}

/*****HOVER STATES (for pc only)*****/
a:hover {
  opacity: 0.5;
}

input[type="file"]::-webkit-file-upload-button:hover {
  opacity: 70%;
}

.backButton:hover {
  color: var(--text-color);
}

#autodetectFoodButton:hover {
  opacity: 0.7;
}

.primaryButton:hover {
  opacity: 0.7;
}

/*****ACTIVE STATES*****/
a:active {
  opacity: 70;
}

.backButton:active {
  color: var(--text-color);
}

/*****FOCUS STATES*****/

input:focus {
  outline: none !important;
  border: 2px solid var(--primary-color);
  color: var(--primary-color);
}

input[type="checkbox"]:focus,
input[type="radio"]:focus {
  color: var(--primary-color);
}

/*****BEFORE AND AFTER STATES*****/
