/*****CUSTOM COLORS*****/
:root {
  --bg-color: #f3f3f3;
  --light-bg-color: #ffffff;

  --text-color: #4f4f4f;
  --light-text-color: #c5c5c5;

  --primary-color: #41c1a5;
  --secondary-color: #fcab61;

  --quality-filled: #fcbe61;
  --quality-not-filled: #c5c5c5;

  --empty-image: #dcdcdc;
}

*,
html {
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
}

body {
  background-color: var(--bg-color);
  padding: 20px 40px;
}

/*****TEXT STYLING*****/
h1 {
  font-weight: 400;
  color: var(--text-color);
  padding-bottom: 20px;
}

h2,
h3 {
  font-weight: 700;
  color: var(--text-color);
  padding: 0 0 10px;
}

p {
  color: var(--text-color);
}

/*****SPECIFIC TEXT STYLING***/

.backButton {
  border-bottom: 1px black solid;
}

.dish {
  background-color: rgb(255, 151, 203);
}

.dishImage {
  background-color: orange;
}

.backButton {
  background-color: green;
}

.dishQuality {
  background-color: aqua;
}

.subtext {
  color: red;
}

.heading {
  color: green;
}
