<!DOCTYPE html>
<html lang="en">
  <head>
    <%-include('../partials/head');%>
  </head>

  <body>
    <h1>Your Menu</h1>
    <h2><%= numberOfDishes %> dishes</h2>
    <!--I want to include the partial dish, x (numderOfDishes) times into this page-->
    <%-include('../partials/dish') %>
    <!--for loop for oneofthedishes-->
    <a href="/add-dish" class="floatingActionButton">+</a>
  </body>
</html>
